body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0px;
}
.container {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#city-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1000;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}


.imageweather{
    background-image: url(../storage/img/climaimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.header {
    display: flex;
    justify-content:space-evenly;
}

.header-h1{
    font-size: 1.5rem;
}

.gradosYCloudy{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.grados{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.Cloudy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.temp {
    font-size: 72px;
    font-weight: bold;
}
.feels-like {
    font-size: 14px;
    opacity: 0.8;
}

.dateYGrados{
    display: flex;
    align-items: end;
    justify-content: space-between;
    text-align: right;
    margin-top: 3%;
}

.date {
    margin-top: 20px;
    font-size: 14px;
}

.container_bajo {
    background-color: #F6EDFF;
    padding: 20px;
    border-radius: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1rem;
}

.tab.active {
    background-color: #E0B6FF;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.detail-item {
    background-color: #d0bcff5b;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
}

.detail-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.detail-item div:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.forecast h3 {
    color: #333;
    margin-bottom: 15px;
}

.day-forecast{
    background: #d0bcff5b;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
}

.forecast-items {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.forecast-item {
    text-align: center;
    font-size: 14px;
    color: #333;
}

.forecast-item img {
    width: 40px;
    height: 40px;
    margin: 5px 0;
}

.chance-of-rain {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.chance-of-rain h3 {
    color: #333;
    margin-bottom: 10px;
}

.chance-of-rain-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.chance-of-rain-bar .time {
    width: 50px;
    font-size: 14px;
    color: #333;
}

.chance-of-rain-bar div:last-child {
    color: black;
}

.chance-of-rain-bar .bar {
    flex-grow: 1;
    height: 16px;
    background-color: #d0bcff5b;
    border-radius: 8px;
    margin-right: 10px;
    overflow: hidden;
}

.chance-of-rain-bar .bar .fill {
    height: 100%;
    background-color: #8A20D5;
    border-radius: 8px;
}


.sunrise-sunset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sunrise-sunset .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.sunrise-sunset .time img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.day-forecast {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .day-forecast h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .day-forecast-chart {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }
  
  .day-forecast-item {
    text-align: center;
    font-size: 14px;
    color: #333;
    padding: 10px;
    background-color: #d0bcff5b;
    border-radius: 15px;
    min-width: 80px;
  }
  
  .day-forecast-item .day-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .day-forecast-item .day-temp {
    font-size: 16px;
  }

